page-home {

.content {
	background-color:#202020;	
}

.list {
	background-color:#202020;	
	color : #F0F0F0;		
}

.list h1 {
	font-weight:normal;
	font-size: 28px;
}

.list h2 {
	font-weight:normal;
	font-size: 16px;
}


ion-img.icon {
	width: 64px;
	height: 64px;
	background-color: transparent;
}

}

