  img.mast-high {
    position:absolute;
    left : 64.5%;
    bottom : 5%;
    width: 14%;
    background-color: transparent;
  } 

  img.arm-top {
      position:absolute;
      left : 70%;
      bottom : 83%;
      width: 26%;
      background-color: transparent;
      transform-origin: 5% 50%;
  } 

  img.main-vertical-arm {
      position:absolute;
      left : 70%;
      bottom : 65.2%;
      height: 23%;
      background-color: transparent;
      transform-origin: 50% 82%;
  }

  img.main-vertical-prism {
      position:absolute;
      left : 72%;
      bottom : 65.2%;
      width: 6.5%;
      background-color: transparent;
      transform-origin: 20% 20%;
  } 

  img.main-vertical-arm2 {
      position:absolute;
      left : 70%;
      bottom : 51%;
      height: 23%;
      background-color: transparent;
      transform-origin: 50% 82%;
  }

  img.main-vertical-prism2 {
      position:absolute;
      left : 72%;
      bottom : 50.8%;
      width: 6.5%;
      background-color: transparent;
      transform-origin: 20% 20%;
  }  

  img.prism-upper {
    position:absolute;
    left : 71.5%;
    bottom : 81%;
    width: 6.5%;
    background-color: transparent;
    transform-origin: 20% 20%;
  }

  div.light-top {
    position:absolute;
    top: 15%;
    left: 75.1%;
    width: 2%;
    height : 1.5%;
    border-radius: 50%;
  }


  div.light-middle {
    position:absolute;
    top: 30.8%;
    left: 75.1%;
    width: 2%;
    height : 1.5%;
    border-radius: 50%;
  }


  div.light-low {
    position:absolute;
    top: 45.4%;
    left: 75%;
    width: 2%;
    height : 1.5%;
    border-radius: 50%;
  } 
