page-hu_shunt {
    @import "assets/css/globals.scss";
    @import "assets/css/form_main.scss";


    img.mast-shunt {
        position:absolute;
        left : 64.5%;
        bottom : 5%;
        width: 14%;
        background-color: transparent;
    }

    img.plate-shunt {
        position:absolute;
        left : 63.3%;
        bottom : 46.5%;
        width: 17%;
        background-color: transparent;
    }

    img.prism-shunt {
        position:absolute;
        left : 71%;
        bottom : 41.5%;
        width: 6.5%;
        background-color: transparent;
        transform-origin: 20% 20%;
    }

    div.light-shunt {
        position:absolute;
        left: 74.5%;
        bottom: 44.4%;
        width: 1%;
        height : .75%;
        border-radius: 50%;
    }


}



